.notification{
    width: 770px;
    margin: 0 auto;
    padding-top: 20px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2{
        font-size: 16px;
        color: #000;
        font-weight: 500;
        display: flex;
        align-items: center;
        img{
            margin-right: 4px;
        }
    }
    h6{
        font-size: 12px;
        color: #6B7280;
        font-weight: 500;
    }
}


.tabs-set{
    .react-tabs__tab-list{
        margin-top: 35px;
        margin-bottom: 15px;
        border: 0;
        background: #F2F3F4;
        border-radius: 10px;
        padding: 6px 8px 8px 8px;
        display: flex;
                align-items: center;
        .react-tabs__tab{
            border: 0;
            font-size: 13px;
            color: #617182;
            font-family: "Sora", sans-serif;
            padding: 10px;
            margin-right: 10px;
            display: flex;
                align-items: center;
            .badge{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 34px;
                height: 20px;
                background: #D1D5DB;
                border-radius: 10px;
                text-align: center;
                margin-left: 10px;
            }
            &:focus:after{
                display: none;
            }
        }
        .react-tabs__tab--selected {
            border-radius: 5px;
            padding: 10px;
        }
    }
}


.conent-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    h4{
        font-size: 16px;
        color: #000;
        font-weight: 500;
    }
}

.up-arrow{
    width: 28px;
    height: 28px;
    border-radius: 100%;
    border: 1px solid #D1D5DB;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s ease;
}

.szh-accordion__item-btn{
    width: 100%;
    border: 0;
    background: transparent;
}

.szh-accordion__item-content{
    padding-left: 40px;
    margin-top: 20px;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        left: 15px;
        top: 0;
        width: 1px;
        height: 100%;
        background: #D1D5DB;
    }
}

.innert-conent-header{
    margin-bottom: 20px;
    .comment-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .prof-details{
            display: flex;
            align-items: center;
            text-align: left;
            .prof-icn{
                width: 33px;
                height: 33px;
                background: #2EC1C5;
                font-size: 16px;
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 10px;
                border-radius: 100%;
            }
            .prof-info{
                h3{
                    color: #6B7280;
                    font-size: 16px;
                    span{
                        color: #2563EB;
                        font-weight: 500;
                    }
                }
                p{
                    color: #6B7280;
                    font-size: 12px;
                    font-weight: 500;
                }
            }
        }
        .showMore{
            border: 1px solid #D1D5DB;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px 10px;
            border-radius: 25px;
            cursor: pointer;
            .down-arrow{
                display: flex;
                margin-right: 5px;
                transition: .5s ease;
                img{}
            }
            .btn-text{
                font-size: 12px;
                color: #6B7280;
                font-weight: 500;
            }
        }
    }
}


.expand-content{
    .szh-accordion__item-content{
        padding: 0;
        &::before{
            display: none;
        }
    }
}

.acc-inner-content{
    padding: 16px;
    background: #fff;
    box-shadow: 0px 4px 10px 0px #DFDFDF;
    border-radius: 10px;
    position: relative;
    text-align: left;
    .content-wrap{
        h5{
            font-size: 14px;
            color: #000000;
            font-weight: 500;
            margin-bottom: 15px;
        }
        h6{
            font-size: 14px;
            color: #6B7280;
            margin-bottom: 10px;
            span{
                color: #2563EB;
            }
        }
        p{
            font-size: 14px;
            line-height: 17px;
            color: #6B7280;
            margin-bottom: 8px;
        }
        .attact-set{
            display: flex;
            align-items: center;
            h3{
                color: #6B7280;
                font-size: 14px;
                margin-right: 10px;
            }
            ul{
                display: flex;
                align-items: center;
                li{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #D1D5DB;
                    border-radius: 25px;
                    padding: 4px 12px;
                    margin-right: 6px;
                    .attach-icn{
                        margin-right: 6px;
                    }
                    .attach-txt{
                        font-size: 12px;
                        color: #6B7280;
                    }
                    &.last{
                        width: 22px;
                        height: 22px;
                        border-radius: 25px;
                        padding: 0;
                    }
                }
            }
        }
    }
    &::before{
        content: "";
        position: absolute;
        left: 0;
        top: 10px;
        width: 100%;
        height: 100%;
        box-shadow: 0px 4px 10px 0px #DFDFDF;
        background: #fff;
        border-radius: 10px;
        z-index: -1;
    }
    &::after{
        content: "";
        position: absolute;
        left: 0;
        top: 20px;
        width: 100%;
        height: 100%;
        box-shadow: 0px 4px 10px 0px #DFDFDF;
        background: #fff;
        border-radius: 10px;
        z-index: -11;
    }
}

.acc-body-content{
    .acc-inner-content{
        margin-bottom: 14px;
        &::before, &::after{
            display: none;
        }
    }
}

.expand-content{
    .szh-accordion__item--status-entered.szh-accordion__item--expanded{
        .szh-accordion__item-heading{
            .acc-inner-content{
                    &::before, &::after{
                        display: none;
                    }
                }
        } 
        .acc-body-content{
            margin-bottom: 50px;
        }
    }
}



.szh-accordion__item.szh-accordion__item--status-exited{
    margin-bottom: 50px;
}


.panel-body{
    .szh-accordion__item--status-entered{
        &.szh-accordion__item--expanded{
            .szh-accordion__item-heading{
                .conent-header{
                    .up-arrow{
                        transform: rotate(180deg);

                    }
                }
            }
        }
    }
}


.expand-content{
    .szh-accordion__item--status-entered{
        &.szh-accordion__item--expanded{
            .szh-accordion__item-heading{
                .innert-conent-header{
                    .comment-header{
                        .showMore{
                            .down-arrow{
                                transform: rotate(180deg);
                            }
                        }
                    }
                }
            }
        }
    }
}